@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9ngzf2');
  src:  url('fonts/icomoon.eot?9ngzf2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9ngzf2') format('truetype'),
    url('fonts/icomoon.woff?9ngzf2') format('woff'),
    url('fonts/icomoon.svg?9ngzf2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-embed:before {
  content: "\e932";
}
.icon-experimental:before {
  content: "\e928";
}
.icon-bot:before {
  content: "\e910";
}
.icon-arrow-down:before {
  content: "\e930";
}
.icon-arrow-down-circle:before {
  content: "\e931";
}
.icon-at-sign:before {
  content: "\e900";
}
.icon-check-circle:before {
  content: "\e901";
}
.icon-check-square:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e923";
}
.icon-chevron-right:before {
  content: "\e924";
}
.icon-chevrons-down:before {
  content: "\e926";
}
.icon-circle:before {
  content: "\e91f";
}
.icon-coffee:before {
  content: "\e902";
}
.icon-copy:before {
  content: "\e903";
}
.icon-corner-up-left:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e904";
}
.icon-external-link:before {
  content: "\e929";
}
.icon-facebook:before {
  content: "\e92c";
}
.icon-feather:before {
  content: "\e91b";
}
.icon-file-text:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e92b";
}
.icon-globe:before {
  content: "\e92a";
}
.icon-help-circle:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e908";
}
.icon-info:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e92d";
}
.icon-layers:before {
  content: "\e91a";
}
.icon-linkedin:before {
  content: "\e92e";
}
.icon-loader:before {
  content: "\e913";
}
.icon-mail:before {
  content: "\e92f";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-message-square:before {
  content: "\e91c";
}
.icon-moon:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e915";
}
.icon-refresh-ccw:before {
  content: "\e925";
}
.icon-repeat:before {
  content: "\e91d";
}
.icon-rotate-ccw:before {
  content: "\e91e";
}
.icon-save:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-share-2:before {
  content: "\e90d";
}
.icon-square:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e922";
}
.icon-sun:before {
  content: "\e917";
}
.icon-tag:before {
  content: "\e90e";
}
.icon-thumbs-down:before {
  content: "\e920";
}
.icon-thumbs-up:before {
  content: "\e921";
}
.icon-trash-2:before {
  content: "\e90f";
}
.icon-x-circle:before {
  content: "\e918";
}
