:root {
    --hilite: #00FFCC;
    --color: #16163F;
    --base: #16163F;
    --bars: #00133377;
    --solidbars: #2c3b54;
    --text: #414850;
    --manifborder: #666;
    --mono: "Roboto Mono", monospace;
}

html {
    height: 100%;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;    
    color: var(--color);
    background: url(/img/bg.png);
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    height: 100%;
}

::-webkit-scrollbar { width: 8px; height: 8px; };
::-webkit-scrollbar-track { background-color: inherit; }
::-webkit-scrollbar-thumb { background-color: #999; border-radius: 5px;}
::-webkit-scrollbar-thumb:hover { background-color: var(--base); }
::-webkit-scrollbar-corner { background-color: inherit; }

*, *::before, *::after {
    box-sizing: border-box;
}

.rel {
    position: relative;
}

.mono {
    font-family: var(--mono);
    font-weight: 400;
}

h1 {
    color: #16163F;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 8px;
    padding: 5px 12px;
    font-family: inherit;
    background-color: var(--color);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;
    border: none;
}
button:hover, button.checked {
    background-color: var(--hilite);
    color: var(--color);
}

button.small {
    font-size: 12px;
    padding: 2px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.upper {
    text-transform: uppercase;
}

.together {
    display: flex;
    gap: 10px;
}

#app {
    height: 100%;
}


h2 {
    margin: 0;
}

.byside {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

input[type=text], input[type=number], input[type=datetime-local], input[type=color], textarea, select, .box {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    color: #3f62a3;
    width: 100%;
    outline: none;
    background-color: #fff;
    height: 39px;
}

textarea.len {
    position: relative;
}

textarea.len::after {
    content: '';
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background-color: transparent;
    background-image: conic-gradient(orange, orange 40%, transparent 40%);
    z-index: -100;
    border-radius: 21.5px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    position: relative;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.35em;
    display: grid;
    place-content: center;
    width: 21px;
    min-width: 21px;
}

input[type="checkbox"]::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    background-color: var(--base);
    transform: scale(0);
    border-radius: 0.25em;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

select {
    width: auto;
}

textarea {
    resize: vertical;
}

input[type=text]:focus, textarea:focus {
    color: #0b9176;
}

.itemtitle {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.itemtitle, .itemtitle > div, .itemtitle > b {
    color: var(--base);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

.itemtitle > b {
    color: #777;
}

p {
    color: var(--text);
    margin: 0 0 20px;
}




.delim {
    color: maroon
}

.prop {
    color: #005cc5;;
}

.val {
    color: #032f62;
    flex-grow: 1;
    display: flex;
}

.ind1 {
    margin-left: 30px;
}

.ind2 {
    margin-left: 60px;
}

.ok {
    color: forestgreen;
}

.req {
    color: rgb(221, 56, 27);
}

span:has(.req) {
    pointer-events: none;
}

.disabled > *:not(:first-child), .disabled > div:first-child > .prop {
/*     pointer-events: none; */
    opacity: 0.6;
    filter: grayscale(1);
}

input.manif {
    background-color: transparent;
    padding: 2px 0;
    height: auto;
    width: auto;
    color: inherit;
    border: 1px dotted #8f959b;
    border-radius: 3px;
}